
@model IEnumerable<Garage2._0.Models.Vehicle_Type>

@{
    IEnumerable<SelectListItem> types = from v in Model
                                        select new SelectListItem
                                        {
                                            Text = v.Name,
                                            Value = v.Name
                                        };

    SelectListItem dropdown_default = new SelectListItem
    {
        Text = "Alla fordon",
        Value = "All"
    };
    List<SelectListItem> d = new List<SelectListItem>();
    d.Add(dropdown_default);
    foreach (var v in types)
    {
        d.Add(v);
    }
    @*"Car",
        "Boat",
        "Airplane",
        "Motorcycle",
        "Bicycle"});*@
}

<div class="search-container">
    @using (Html.BeginForm("Detailed_list", "Vehicles", FormMethod.Get))
    {
        <p>
            @Html.Label("Fordonstyper", new { @class = "control-label" })
            <br />
            @Html.DropDownList("Fordonstyper", d)
        </p>
        <p>
            @Html.Label("Registreringsnummer", new { @class = "control-label" })
            @Html.TextBox("q", "", new { @class = "form-control text-box single-line" })
        </p>
        <p><input type="submit" class="btn btn-default" value="Sök" /></p>
    }
</div>
