
<div class="search-container">
    @using (Html.BeginForm("Search", "Vehicles", FormMethod.Get))
    {

        <p>@Html.RadioButton("val", "owner", true) Sök på ägare</p>
        <p>@Html.RadioButton("val", "reg") Sök på registreringsnummer</p>
        @Html.TextBox("q")
        <input type="submit" class="btn btn-default" name="Submit" />
    }
</div>