body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#333333;
}

.body-content {
    background-color:#fff;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color:#ff006e;
}
a:hover {
    color:#808080;
    text-decoration:none;
}
h1 {
	font-size: 1.8em;
	font-family: 'Berkshire Swash', cursive;
	margin-bottom:0.3em;
}

h2, h3, h4 {font-family:roboto;}

h2{font-size:1.9em;}
img {
    max-width: 99%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.jumbotron {
    background-color:#FFF;
    margin-bottom:0;
}
.jumbotron img {
    background-color:#FFF;
}

/*BUTTONS*/
.btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
}
.btn a {
    color:#333;
} 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-default {
    background: #FFAE00;
    color: #333333;
}
 
.btn-default:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #FFD900;
}

.btn-default:active, .btn-primary.active {
    background: #FFAE00;
    box-shadow: none;
}