body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color:#333333;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 30px;
    padding-right: 30px;
    background-color:#fff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

a {
    color:#FFAE00;
}
a:hover {
    color:#808080;
    text-decoration:none;
}
h1 {
	font-size: 2.8em;
	font-family: 'Berkshire Swash', cursive;
	margin-bottom:0.5em;
}

h2, h3, h4 {font-family:roboto;}

h2{
    font-size:1.9em;
}
h2.h2-start{
    font-family: 'Berkshire Swash', cursive;
}
img {
    max-width: 99%;
    height: auto;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}
.container .jumbotron {
    background-color:#FFF;
    margin-bottom:0;
    padding-left:0;
    padding-right:0;
}
.jumbotron img {
    background-color:#FFF;
}

/*BUTTONS*/
.btn {
    padding: 7px 12px;
    border: 0 none;
    font-weight: 700;
}
.btn a {
    color:#333;
} 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-default {
    background: #FFAE00;
    color: #333333;
}
 
.btn-default:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #FFD900;
}

.btn-default:active, .btn-primary.active {
    background: #FFAE00;
    box-shadow: none;
}

.search-container {
    margin-bottom: 30px;
}

#today {
    margin-right:15px;
}

.text-danger {
    color:#f00;
    font-weight:700;
}
.navbar-inverse .navbar-nav > li > a {
    font-size:16px;
    color: #FFAE00;
}
.navbar-inverse .navbar-nav > li > a:hover {
     color: #fff;
}

.table tr:nth-child(2n+2){
    background-color:#FFF9D6;
}
.table tr:first-of-type {
    background-color:#FFD900;
}